---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="Sobre Mi">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hola, Soy Nahuel, Un Desarrollador Full Stack Web.
      <br />
       Mis Principales Herramientas:
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>React</li>
        <li>PHP</li>
        <li>Astro</li>
        <li>NextJs</li>
        <li>Nodejs</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Desde mi infancia, mi pasión por la programación ha sido innata. Hoy en día, me especializo en el desarrollo full stack web, 
    </p>
    <p class="text-sm font-light">
      comprometido a perfeccionarme cada día. La constante búsqueda de conocimiento es mi impulso para ofrecer soluciones excepcionales.
    </p>
  </div>
</Card>
