<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="cursor.css" />
    <style>
      /* Definición de colores */
      $primary: #1976d2;
      $primary-ultralight: mix(white, $primary, 80%);
      $primary-light: mix(white, $primary, 25%);
      $primary-dark: mix(black, $primary, 25%);
      $primary-ultradark: mix(black, $primary, 80%);
      $black: #333333;
      $white: #eeeeee;

      /* Definición de tamaño máximo */
      $max-width: 800px;

      /* Estilos generales para html y body */
      html,
      body,
      html * {
        cursor: none;
      }

      /* Estilos para el cursor y su versión con contorno */
      .cursor-dot,
      .cursor-dot-outline {
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 100%;
        opacity: 1;
        transform: translate(-50%, -50%);
        transition:
          opacity 0.3s ease-in-out,
          transform 0.3s ease-in-out;
        visibility: visible;
        z-index: 3;
      }

      /* Estilos específicos para el cursor principal */
      .cursor-dot {
        width: 10px;
        height: 10px;
        background-color: #22c55e;
        visibility: visible;
      }

      /* Estilos específicos para el contorno del cursor */
      .cursor-dot-outline {
        width: 20px;
        height: 20px;
        visibility: visible;
      }

      /* Definición del contorno */
      .cursor-dot-outline:after {
        border-radius: 50%;
        padding: 5px;
        border: 2px solid #1976d2;
        position: absolute;
        content: "";
        top: -6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
      }
    </style>
  </head>
  <body>
    <div class="cursor-dot-outline"></div>
    <div class="cursor-dot"></div>
    <script>
var cursor = {
  delay: 8,
  _x: 0,
  _y: 0,
  endX: window.innerWidth / 2,
  endY: window.innerHeight / 2,
  cursorVisible: true,
  cursorEnlarged: false,
  CoursorColor: true,
  $dot: document.querySelector(".cursor-dot"),
  $outline: document.querySelector(".cursor-dot-outline"),

  init: function () {
    this.setupEventListeners();
    this.animateDotOutline();
  },

  setupEventListeners: function () {
    var self = this;

    document.querySelectorAll("a").forEach(function (el) {
      el.addEventListener("mouseover", function () {
        self.CoursorColor = false;
        self.toggleColor();
        self.cursorEnlarged = true;
        self.toggleCursorSize();
      });
      el.addEventListener("mouseout", function () {
        self.CoursorColor = true;
        self.toggleColor();
        self.cursorEnlarged = false;
        self.toggleCursorSize();
      });
    });

    document.addEventListener("mousedown", function () {
      self.cursorEnlarged = true;
      self.toggleCursorSize();
    });
    document.addEventListener("mouseup", function () {
      self.cursorEnlarged = false;
      self.toggleCursorSize();
    });

    document.addEventListener("mousemove", function (e) {
      self.cursorVisible = true;
      self.toggleCursorVisibility();

      self.endX = e.pageX;
      self.endY = e.pageY;
      self.$dot.style.top = self.endY + "px";
      self.$dot.style.left = self.endX + "px";
    });

    document.addEventListener("mouseenter", function (e) {
      self.cursorVisible = true;
      self.toggleCursorVisibility();
      self.$dot.style.opacity = 1;
      self.$outline.style.opacity = 1;
    });

    document.addEventListener("mouseleave", function (e) {
      self.cursorVisible = true;
      self.toggleCursorVisibility();
      self.$dot.style.opacity = 0;
      self.$outline.style.opacity = 0;
    });
  },

  animateDotOutline: function () {
    var self = this;

    self._x += (self.endX - self._x) / self.delay;
    self._y += (self.endY - self._y) / self.delay;
    self.$outline.style.top = self._y + "px";
    self.$outline.style.left = self._x + "px";
    requestAnimationFrame(this.animateDotOutline.bind(self));
  },

  toggleCursorSize: function () {
    var self = this;

    if (self.cursorEnlarged) {
      self.$dot.style.transform = "translate(-50%, -50%) scale(0.75)";
      self.$outline.style.transform = "translate(-50%, -50%) scale(1.5)";
    } else {
      self.$dot.style.transform = "translate(-50%, -50%) scale(1)";
      self.$outline.style.transform = "translate(-50%, -50%) scale(1)";
    }
  },

  toggleColor: function () {
    if (this.CoursorColor) {
      this.$dot.style.visibility = "visible";
      this.$outline.style.visibility = "visible";
    } else {
      this.$dot.style.visibility = "hidden";
      this.$outline.style.visibility = "hidden";
    }
  },

  toggleCursorVisibility: function () {
    var self = this;
    if (self.cursorVisible) {
      self.$dot.style.opacity = 1;
      self.$outline.style.opacity = 1;
    } else {
      self.$dot.style.opacity = 0;
      self.$outline.style.opacity = 0;
    }
  }
};

cursor.init();

    </script>
  </body>
</html>
